.jocarsa-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: white;
  
}

.jocarsa-icon-editar {
  background: url('https://jocarsa.github.io/jocarsa-white/iconos/editar.svg');
  background-size:cover;
}

.jocarsa-icon-compartir {
  background: url('https://jocarsa.github.io/jocarsa-white/iconos/compartir.svg');
  background-size:cover;
}

.jocarsa-icon-eliminar {
  background: url('https://jocarsa.github.io/jocarsa-white/iconos/eliminar.svg');
  background-size:cover;
}
.jocarsa-icon-documento {
  background: url('https://jocarsa.github.io/jocarsa-white/iconos/documento.svg');
  background-size:cover;
}

.jocarsa-icon-cuadricula {
  background: url('https://jocarsa.github.io/jocarsa-white/iconos/cuadricula.svg');
  background-size:cover;
}

.jocarsa-icon-lista {
  background: url('https://jocarsa.github.io/jocarsa-white/iconos/lista.svg');
  background-size:cover;
}

.jocarsa-icon-salir {
  background: url('https://jocarsa.github.io/jocarsa-white/iconos/salir.svg');
  background-size:cover;
}
/* Add additional icons here */

