.jocarsa-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: white;
}

.jocarsa-icon-editar {
  background: url('https://jocarsa.github.io/jocarsa-white/iconos/editar.svg');
}


/* Add additional icons here */

